.application_table{
    width: 100%;
    justify-content: space-around;
    margin: auto;
    display: flex;
}

.table-head{
    background-color: #5f885f;
    color: white;
    padding: 1%;
    border-radius: 10px 10px 0px 0px;
}